<body>
  <div class="container">
    <div *ngIf="!auth.verificaLogado()" class="d-flex justify-content-center">
      <div class="alert alert-warning text-center mt-4 w-25">
        <p><strong>Você não tem permissão para acessar o carrinho.</strong></p>
      </div>
    </div>

    <div class="container-carrinho">
      <div class="container">
        <div class="header">
          
          <span>Carrinho</span>
          <input readonly *ngIf="editar" [value]="nomeCliente">
          <select *ngIf="!editar" id ="id" class="form-select select text-center" [(ngModel)]="clienteSelecionado">
            <option *ngFor="let cliente of clientes; index as i"  value="{{cliente.id}}"  aria-placeholder="Selecione o Cliente:">{{cliente.nome}}</option>
          </select>
          <button *ngIf="!editar" type="submit" (click)="comprar()" id="new">Comprar</button>
          <button *ngIf="editar" type="submit" (click)="comprar()" id="new">Editar</button>
        </div>

        <div class="divTable ">
          <table>
            <thead>
              <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Ações</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedidoProduto of getCarrinho();index as i">
                <td>{{this.getProduto(pedidoProduto.produtoId).nome}}</td>
                <td>{{pedidoProduto.valor | currency}}</td>
                <td><button id="retirar" type="button" class="qtdEstoque subtraiEstoque" style="margin-left: 10px;"
                    (click)="Subtrair(i)">-</button>
                  {{pedidoProduto.quantidade}}
                  <button id="adicionar" type="button" class="qtdEstoque somaEstoque" style="margin-right: 10px;"
                    (click)="Adicionar(i)">+</button>
                </td>
                <td class="acao">
                  <button><i class='bx bx-trash' (click)="Excluir(i)"></i></button>
                </td>
                <td>{{pedidoProduto.valor*pedidoProduto.quantidade | currency}}</td>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total:{{valor_total | currency}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>